<!-- Bangalore House Price Predictor -->
 
<!DOCTYPE html>
<html >
<head>
    <title>Banglore Home Price Prediction</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="app.js"></script>
	<link rel="stylesheet" type='text/css' href="{{url_for('static', filename='style/index.css')}}">

</head> 
<body>  
<div class="img"></div> 
<center><div class="title"><h1>Banglore Home Price Prediction</h1></div></center>                
<form class="form" action="{{ url_for('predict')}}"method="post">
    <center><h2 style="color:red"><u>Enter the Details</u></h2></center>
                                                   
    <h2>Bathroom</h2>
	<div class="switch-field">
		<input type="radio" id="radio-bath-1" name="bath" value="1"/>
		<label for="radio-bath-1">1</label>
		<input type="radio" id="radio-bath-2" name="bath" value="2"/>
		<label for="radio-bath-2">2</label>
		<input type="radio" id="radio-bath-3" name="bath" value="3"/>
		<label for="radio-bath-3">3</label>
		<input type="radio" id="radio-bath-4" name="bath" value="4"/>
		<label for="radio-bath-4">4</label>
		<input type="radio" id="radio-bath-5" name="bath" value="5"/>
		<label for="radio-bath-5">5</label>
		<input type="radio" id="radio-bath-6" name="bath" value="6"/>
		<label for="radio-bath-6">6</label>
		<input type="radio" id="radio-bath-7" name="bath" value="7"/>
		<label for="radio-bath-7">7</label>
		<input type="radio" id="radio-bath-8" name="bath" value="8"/>
		<label for="radio-bath-8">8</label>
		<input type="radio" id="radio-bath-9" name="bath" value="9"/>
		<label for="radio-bath-9">9</label>
		<input type="radio" id="radio-bath-10" name="bath" value="10"/>
		<label for="radio-bath-10">10</label>                
	</div>
    
	<h2>Balcony</h2>
	<div class="switch-field">
		<input type="radio" id="radio-balcony-1" name="balcony" value="1"/>
		<label for="radio-balcony-1">1</label>
		<input type="radio" id="radio-balcony-2" name="balcony" value="2"/>
		<label for="radio-balcony-2">2</label>
		<input type="radio" id="radio-balcony-3" name="balcony" value="3"/>
		<label for="radio-balcony-3">3</label>
		<input type="radio" id="radio-balcony-4" name="balcony" value="4"/>
		<label for="radio-balcony-4">4</label>
		<input type="radio" id="radio-balcony-5" name="balcony" value="5"/>
		<label for="radio-balcony-5">5</label>
		<input type="radio" id="radio-balcony-6" name="balcony" value="6"/>
		<label for="radio-balcony-6">6</label>
		<input type="radio" id="radio-balcony-7" name="balcony" value="7"/>
		<label for="radio-balcony-7">7</label>
		<input type="radio" id="radio-balcony-8" name="balcony" value="8"/>
		<label for="radio-balcony-8">8</label>
		<input type="radio" id="radio-balcony-9" name="balcony" value="9"/>
		<label for="radio-balcony-9">9</label>
		<input type="radio" id="radio-balcony-10" name="balcony" value="10"/>
		<label for="radio-balcony-10">10</label>        
	</div>                                                           
                                                                     
   	<h2>Enter Total Sqft</h2>
        <input class="area"  type="number" id="uiSqft" class="number" name="total_sqft_int" placeholder="Enter Total Squre Foot"/><br>
    
	<h2>BHK</h2>
	<div class="switch-field">
		<input type="radio" id="radio-bhk-1" name="bhk" value="1"/>
		<label for="radio-bhk-1">1</label>
		<input type="radio" id="radio-bhk-2" name="bhk" value="2"/>
		<label for="radio-bhk-2">2</label>
		<input type="radio" id="radio-bhk-3" name="bhk" value="3"/>
		<label for="radio-bhk-3">3</label>
		<input type="radio" id="radio-bhk-4" name="bhk" value="4"/>
		<label for="radio-bhk-4">4</label>
		<input type="radio" id="radio-bhk-5" name="bhk" value="5"/>
		<label for="radio-bhk-5">5</label>
		<input type="radio" id="radio-bhk-6" name="bhk" value="6"/>
		<label for="radio-bhk-6">6</label>
		<input type="radio" id="radio-bhk-7" name="bhk" value="7"/>
		<label for="radio-bhk-7">7</label>
		<input type="radio" id="radio-bhk-8" name="bhk" value="8"/>
		<label for="radio-bhk-8">8</label>
		<input type="radio" id="radio-bhk-9" name="bhk" value="9"/>
		<label for="radio-bhk-9">9</label>
		<input type="radio" id="radio-bhk-10" name="bhk" value="10"/>
		<label for="radio-bhk-10">10</label>        
	</div>                                                                                                                         
        
   	<h2>Price per Sqft</h2>
        <input class="area"  type="number" id="uiSqft" class="number" name="price_per_sqft" placeholder="Enter Desired Price Per Squre Foot"/><br>                             
                                                                                                                                        
   	<h2>Select Location</h2>
        <select required="required" width="48" height="10" step=".01" class="location" name="location" id="uiLocations"><br>
        <option value="" disabled="disabled" selected="selected"> Choose a Location </option>
        <option>Hennur Gardens</option>     
        <option>Hennur Road</option>                                                        
        <option>Hebbal</option>                                                        
        <option>1st Block Jayanagar</option>                                                                
		<option>Devarabeesana Halli</option>                                                                
		<option>Whitefield</option>
        <option>Electronic City</option>
		<option>Raja Rajeshwari Nagar</option>
        <option>Haralur Road</option>
		<option>Marathahalli</option>
        <option>Hennur Road</option>
		<option>Bannerghatta Road</option>
        <option>Uttarahalli</option>
		<option>Thanisandra</option>
        <option>Electronic City Phase II</option>
		<option>Hebbal</option>
        <option>7th Phase JP Nagar</option>                                            
		<option>Yelahanka</option>
        <option>Kanakpura Road</option>  
		<option>KR Puram</option>
        <option>Sarjapur</option>       
		<option>Rajaji Nagar</option>
        <option>Kasavanhalli</option>    
		<option>Bellandur</option>
        <option>Begur Roadr</option>   
		<option>Banashankari</option>
        <option>Kothanur</option>   
		<option>Hormavu</option>
        <option>Harlur</option>        
		<option>Akshaya Nagar</option>
        <option>Electronics City Phase 1</option>       
		<option>Jakkur</option>
        <option>Varthur</option>                                                          
		<option>Chandapura</option>
        <option>Hennur</option>                                                       
		<option>Ramamurthy Nagar</option>
        <option>HSR Layout</option>                                                         
		<option>Kundalahalli</option>
        <option>Ramagondanahalli</option>                                                  
		<option>Koramangala</option>
        <option>Kaggadasapura</option>    
		<option>Budigere</option>
        <option>Hulimavu</option>                                                          
		<option>Hoodi</option>
        <option>Malleshwaram</option>                                                      
		<option>Yeshwanthpur</option>
        <option>Gottigere</option>                                                   
		<option>Hegde Nagar</option>
        <option>8th Phase JP Nagar</option>                                          
		<option>JP Nagar</option>
        <option>Bisuvanahalli</option>                                                    
		<option>Channasandra</option>
        <option>Vittasandra</option>                                                     
		<option>Indira Nagar</option>
        <option>Kengeri</option>                                                    
		<option>Hosa Road</option>
        <option>Sahakara Nagar</option>                                              
		<option>Brookefield</option>
        <option>Old Airport Road</option>                                          
		<option>Vijayanagar</option>
		<option>Balagere</option>                                                                
        <option>Green Glen Layoutr</option>                                                 
        <option>Bommasandra</option>               
		<option>Kudlu Gate</option>
        <option>Old Madras Road</option>  
		<option>Panathur</option>
        <option>Rachenahalli</option>                                                         
        <option>Talaghattapura</option>   
		<option>Thigalarapalya</option>
        <option>Kadugodi</option> 
		<option>Ambedkar Nagar</option>                                                                
        <option>Mysore Road</option>   
		<option>Yelahanka New Town</option>
        <option>Attibele</option>                                                             
        <option>Devanahalli</option>
		<option>Jigani</option>                                                                
		<option>Dodda Nekkundi</option>                                                                
		<option>Anekal</option>                                                                
		<option>Kanakapura</option>
        <option>Frazer Town</option>                                                        
        <option>5th Phase JP Nagar</option>   
		<option>Lakshminarayana Pura</option>
		<option>Ananth Nagar</option>                                                                
        <option>TC Palaya</option>                                                          
        <option>Nagarbhavi</option>         
		<option>CV Raman Nagar</option>
        <option>Jalahalli</option>                                               
		<option>Kudlu</option>
        <option>Kengeri Satellite Town</option>                                            
		<option>Bhoganhalli</option>
        <option>Kalena Agrahara</option>                                                  
		<option>Doddathoguru</option>
        <option>Subramanyapura</option>                                                     
		<option>Horamavu Agara</option>
        <option>Hebbal Kempapura</option>                                                  
		<option>Vidyaranyapura</option>
        <option>BTM 2nd Stage</option>                                                
		<option>Hosur Road</option>
        <option>Tumkur Road</option> 
		<option>Mahadevpura</option>
        <option>Domlur</option>  
        <option>Horamavu Banaswadi</option>                                                                
  </select>      
 
        <br>
         
        <br>
         
        <!-- Show button -->
        <div class="submit" align="center"><a class="button_css" target="_blank" rel="nofollow noopener">
            <button type="submit" class="btn btn-primary btn-block btn-large"><strong>Predict House Price</strong></button></a>
        </div>
        
        
    </form>
    <center>
    <div class="result">
       
          <h2>{{ prediction_text }}</h2>
      
   		</div>
   	</center>
    
   <!-- Show predicted output using ML model --> 
 	<center>
    <div class="footer">
    <center><p style="color:bold black">Developed by - Abhinay Kumar Singh<br></center>
     
      <a style="color:red" href="https://www.instagram.com/abhinaysinghrajputt/">Instagram |</a>
      <a style="color:red" href="https://www.facebook.com/abhinaysingh.rajput.31">| Facebook</a>
    </p>
	</div>
	</center>
 </div>
 
 

</body>
</html>